name: Build Wheels

on:
  workflow_call:
    inputs:
      project:
        description: 'Name of the project to build'
        default: 'PROJECT_NAME'
        required: true
        type: string
      c_extension:
        description: 'Whether the project has a C extension'
        default: false
        required: true
        type: boolean
      latest_python_version:
        description: 'The latest suproted python version'
        required: true
        type: number
      python_versions_json:
        description: 'JSON array of supported Python versions as strings'
        required: true
        type: string

jobs:
  python-pure:
    if: inputs.c_extension == false
    uses: ./.github/workflows/_build-python-wheel-pure.yml
    with:
      python_version: ${{ inputs.latest_python_version }}

  python-extension:
    if: inputs.c_extension
    uses: ./.github/workflows/_build-python-wheel-extension.yml
    with:
      project: ${{ inputs.project }}
      latest_python_version: ${{ inputs.latest_python_version }}
      python_versions_json: ${{ inputs.python_versions_json }}
