name: Release on PyPI

on:
  workflow_call:
    inputs:
      python_version:
        description: 'Python version to use for uploading to PyPI'
        required: true
        type: number
    secrets:
      PYPI_TOKEN:
        description: 'PyPI token'
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: '**/*'
          path: dist
          merge-multiple: true

      - name: Setup Python for PyPI upload
        uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python_version }}

      - name: Install Twine
        run: |
          python -m pip install --upgrade pip
          pip install twine
